<div class="container">

  <div class="row d-flex justify-content-center text-center">
    <h5 class="h5 font-weight-bold">本当に退会しますか？</h5>
  </div>

  <div class="row d-flex justify-content-center text-center mt-3 mb-3">
    <p class=""font-weight-normal>
      退会すると、会員情報がすべて削除されます
    </p>
  </div>
  <div class="row d-flex justify-content-center">
    <%= link_to '退会する', customers_withdraw_path(current_customer), method: :patch, class: "btn btn-danger" %>
    <%= link_to '退会しない', my_page_path, class: "ml-2 btn btn-primary" %>
    </div>

</div>