<div class="container">
  <div class='row mx-auto'　style="width: 200px;">
    <div class="col-lg-12">
      <h4 class='title text-center'>About</h4>
    </div>
  </div>

  <div class='row mx-auto'　style="width: 200px;">
    <p class="col-12 text-center font-weight-light">全国どこでも美味しいケーキをお届けします!
    </p>
  </div>
  <div class="col-12 text-center">
    <%= image_tag "img/cake.jpg", :size => '700x500',class:"rounded" %>
  </div>
</div>