<div class="container">
  <div class="row my-2 d-flex justify-content-center">
    <h1 class="font-weight-bold text-center">NAGANO-CAKE</h1>
    </div>
    <div class="row my-2 d-flex justify-content-center">
    <%= image_tag "img/cake4.jpg", :size => '1000x750',class:"rounded" %>
  </div>
</div>

