<div class="main-visual">
  <div class="main-visual-content">
    <h1 class="font-weight-bold text-center">NAGANO-CAKE</h1>
    <div class="col-12 text-center ">
      <div></div>
      <div></div>
    <%= image_tag "img/cake4.jpg", :size => '1100x770',class:"rounded" %>
  </div>
  </div>
</div>

