<div class="container">
  <div class="row my-2 d-flex justify-content-center">
    <h1 class="font-weight-bold text-center">NAGANO-CAKE</h1>
    </div>
    <div class ='row my-3 border-bottom'>
    <h4 class="h4 text-dark ml-4 pt-2">商品</h4>
  </div>

  <div class='row mx-auto my-auto'>
    <% @items.each do |item| %>
      <table class='col-md-3'>
        <tr>
          <td><%= link_to item_path(item) do %>
            <%= attachment_image_tag(item, :image, fallback: "img/no_image.jpg",size: "250x250",class:"rounded") %>
            <% end %><br>
          </td>
        </tr>
        <tr>
          <th><%= item.name %></th>
        </tr>
        <tr>
          <th>￥<%= item.price %></th>
        </tr>
      </table>
    <% end %>
  </div>
  <div class="mx-auto">
  </div>
</div>

